.content{
    text-align: center;
    border: solid black 2px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #050505;
   
 }
 
.text{
    color:black;
    margin-left:5px;
    margin-top: 15px;
}
.imgContent{
    max-width: 250px;
    margin-top: 15px;
    border: solid black 2px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #050505;
}

@media(min-width:768px) {
    .content{
    display: flex;
    justify-content: center;
    }
    .imgContent{
        max-width: 300px;
    }
}
@media(min-width:1440px) {
    .content{
    display: flex;
    justify-content: center;
    height: 450px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:900px
    }
  
}
